* {
    margin: 0px;
    padding: 0px;
}
@font-face {
    font-family: Lobster;
    src: url(./fonts/Lobster-Regular.ttf);
}

body {
    background-color: rgba(10, 10, 10, 0.7);
    height: 100vh;
    width: 100vw;
    color: white;
    background-image: url(assets/pexels-markus-spiske-1089440.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: rgb(22, 22, 22);
}

#nav-header {
    display: flex;
    flex-direction: row;
}

#title-portfolio {
    font-family: lobster, Arial, sans-serif;
    margin: 0px 10px 0px 150px;
    color: rgba(30,144,255, 1);
}

#nav-header {
    margin: 0px 150px 0px 10px;
}

#nav-header li {
    margin-left: 10px;
    list-style: none;
    font-weight: bolder;
    cursor: pointer;
}

main {
    height: 90vh;
    background-color: rgba(0, 0, 0, 0);
}

.content-main {
    display: none;
    height: 90vh;
    margin: 0px 150px 0px 150px;
}

.content-active {
    display: flex;
}

@media screen and (max-width: 375px) {
    body {
        background-image: url(./assets/progamming-code-4k-nt-480x854.jpg);
    }
    header {
        height: 6vh;
        font-size: 11px;
    }
    main {
        height: 94vh;
    }
    #title-portfolio {
        margin: 0px auto;
    }
    #nav-header {
        display: none;
    }
    .content-main {
        margin: 0px 20px 0px 20px;
    }
}